@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
/* root */
:root {
  --primary-color: rgb(13, 66, 255);
  --background-color: rgb(14, 29, 52);
  --secend-color: rgb(15, 62, 227);
  --white-color: aliceblue;
  --light-white-color: #a8a8a8;
}
header {
  background-image: url(./files/img/world-dotted-map.png);
  background-size: cover;
  background-color: var(--background-color);
  height: auto;
}
/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 10px 0;
}
nav .logo {
  font-size: 30px;
  color: var(--white-color);
  font-weight: 900;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul .nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li a {
  font-size: 18px;
  color: var(--light-white-color);
}
nav .nav-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px 22px;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}
nav .nav-btn:hover{
  background-color: var(--secend-color);
}
nav .nav-active {
  color: var(--white-color);
}
nav .nav-left {
  display: flex;
  gap: 20px;
}
nav .nav-left .nav-icon {
  color: var(--white-color);
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  outline: none;
}
.nav-icon{
  display: none;
}
/* home */
.home{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.home-section{
  width: 65vh;
}
.home-section h1{
  padding: 0 10px 0 0;
  font-family: "Poppins", sans-serif;
  color: var(--white-color);
  font-weight: 800;
  font-size: 40px;
}
.home-section p{
  color: var(--white-color);
  padding: 30px 0;
  font-size: 16px;
}
.home-section .home-box{
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 40px 0;
  background-color: var(--white-color);
}
.home-section .home-box input{
  outline: none;
  width: 80%;
  padding: 15px;
  font-size: 18px;
  border: none;
}
.home-section .home-box button{
  padding: 18px 25px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.home-section .home-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
.home-section .home-sec .home-sec-box{
  color: var(--white-color);
  text-align: center;
}
.home-section .home-sec .home-sec-box .line{
  width: 20px;
  height: 2px;
  margin: 15px 0;
  background-color: var(--primary-color);
}

.home-img img{
  width: 60vh;
}

@media (max-width: 780px) {
  .nav-icon{
    display: block;
  }
  nav{
    justify-content: space-between;
    padding: 10px 30px;
  }
  .nav-menu {
    position: fixed;
		top: 80px;
		left: -100%;
		background-color: var(--white-color);
		height: 80%;
		width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		display: flex;
    text-align: left;
    border-radius: 10px;
		transition: all 0.3s ease;
  }
  nav ul li {
    padding: 10px 0px;
  }
  nav ul li a{
    color: var(--background-color);
  }
  nav .nav-active {
    color: var(--primary-color);
  }
}
